<h1>Sign In</h1>

<script>
  var fbClicked = function(e) {
    // e.preventDefault();
    FB.login( function(response){
      window.location = '/auth/facebook/callback' 
    });
  }
</script>
<a  target="loginIframe" id="facebook_signin" onclick="fbClicked();">Sign in using Facebook</a>
<a href="/auth/fitbit">Sign in using Fitbit</a>

<p>Or</p>

<%= form_tag sessions_path do %>
  <div class="field">
          <%= label_tag :email %><br />
          <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
          <%= label_tag :password %><br />
          <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Log In" %>
<% end %>
